*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}

body{
  background-color: rgb(133, 175, 253);
}

#section-cadastro-alunos{
  width: 60%;
  margin: 5% auto;
  background-color: white;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 3%;
  text-align: center;
  border: 4px solid black;
}
#section-cadastro-alunos > h2{
  margin-bottom: 2%;
  font-style: oblique;
  color: cornflowerblue;
  text-decoration: underline;
}
#section-cadastro-alunos h2.media{
  color: black;
  text-decoration: none;
  font-style: normal;
}

#form-cadastro{
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
#form-cadastro input[type="text"], #form-cadastro input[type="number"]{
  width: 60%;
  margin: 1.5% 0;
  padding: 10px;
  text-align: center;
  outline: 0;
  border-radius: 15px;
  border: 2px solid black;
}
#form-cadastro input[type="submit"]{
  padding: 2% 4.5%;
  margin-top: 1.5%;
  margin-bottom: 5%;
  border: 0;
  background-color: rgb(131, 206, 131);
  cursor: pointer;
  outline: 0;
  transition: 400ms;
}
#form-cadastro input[type="submit"]:hover{
  padding: 2.5% 5%;
  background-color: rgb(80, 202, 80);
}

#exibir{
  display:table;
  width: 100%;
}
.exibir-row{
  display:table-row;
}
.cell{
  display: table-cell;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1%;
}